h1 {
    /* Centralizar a tag <h1> */
    text-align: center;
}

.logo {
    width: auto;
    max-width: 300px;
    height: auto;
}

.titulo {
    color: black;
    font-size: xx-large;
    font: arial;
}

.card {
    max-width: 200px;
    background: rgba(255, 255, 255, 0.959);
}

.card:hover {
    opacity: 0.8;
    cursor: pointer;
}

.card-deck {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
}

.card-title {
    text-align: center;
    margin-bottom: 0rem;
}